<html>

<head>
    <title> 세션 추가 페이지 </title>
</head>

<body>

<form>
    name : <input type="text" id="name">
    age : <input type="text" id="age">
    <input type="button" id="submitButton" value="추가">
</form>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/add.js"></script>
</html>